/*#486900 #bf6849 #abd904 #f2f2f2 #2b2b2b #151515 #cfcfcf75*/
/*Pequeño backup*/

/* esto es pa modificar los links bro */
a:link {
    color: #486900;
    text-decoration: none;
}

a:visited {
    color: #486900;
    text-decoration: none;
}

a:hover {
    color: #abd904;
}

a:active {
    color: #486900;
}

/* aqui acaba lo de los links mate */