/*#486900 #bf6849 #abd904 #f2f2f2 #2b2b2b #151515 #cfcfcf75*/
#login{
    margin: 0%;
    padding: 0%;
    width: 100%;
    background: #151515;
  margin-left: auto;
  margin-right: auto;
}
header, main, footer{
  border: #cfcfcf75 2px solid;
  border-radius: 10px;
  background: #2b2b2b;
}

#login header{
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    text-align: center;
    width: 300px;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
color: #f2f2f2;

}
#login main{
display: block;
margin-left: auto;
margin-right: auto;
margin-top: 25px;
width: 300px;
padding: 10px;
}

#login footer{
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  width: 300px;
  height: 60px;
}

footer span{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

form input{
  width: 275px;
}
form input, form button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
fieldset{
padding: 0%;
padding-bottom: 5px;
margin-top: 5px;
color: #f2f2f2;
}
button{
   width: 120px;
   
}

/*Animacion boton */
.draw-border {
    box-shadow: inset 0 0 0 4px #f2f2f2;
    color: #f2f2f2;
    transition: color 0.25s 0.0833333333s;
    position: relative;
  }
  .draw-border:before, .draw-border:after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: "";
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
  }
  .draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
  }
  .draw-border::after {
    border-top-width: 4px;
    border-right-width: 4px;
  }
  
  .draw-border:hover {
    color: #adff2f;
  }
  .draw-border:hover::before, .draw-border:hover::after {
    border-color: #adff2f;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
  }
  .draw-border:hover::before {
    transition-delay: 0s, 0s, 0.25s;
  }
  .draw-border:hover::after {
    transition-delay: 0s, 0.25s, 0s;
  }
  
  .btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 20px "Roboto Slab", sans-serif;
    padding: 8px;
  }
  .btn:focus {
    outline: 2px dotted #adff2f;
  }
/*Fin animacion del boton*/