/*#486900 #bf6849 #abd904 #f2f2f2 #dbdbdb #2b2b2b #151515  #cfcfcf75*/

/*Paginas principales*/
html {
  height: 100%;
}

body {

  background: #151515;
  margin: 0%;
  padding: 0%;
  min-height: 100%;
  font-family: 'Roboto Condensed', sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.pages p {
  text-align: justify;
}

.pages main {
  flex: 1;
  position: relative;
  width: auto;
  height: fit-content;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 15px;
  margin-bottom: 15px;
  border: ridge 10px;
  border-radius: 0px;
  background: #cfcfcf;
  padding: 20px;
}

 h2 {
  text-align: center;
  color: #486900;
}

#principal article p {
  text-align: justify;
}

#principal img {
  display: block;
  margin: auto;
  width: 80%;
  height: 25%;
}

/*Cosas de la cabecera y el pie*/
.cabecera,
.pie {
  position: relative;
  color: #abd904;
  height: 50px;
  background: #1d1d1d;
}

.cabecera .titulo,
.cabecera .rs {
  width: fit-content;
  font-size: 30px;
  position: absolute;
  font-family: 'Lalezar', cursive;
  top: 20%;
}

.cabecera .titulo {
  left: 15px;
}

.cabecera .rs {
  right: 15px;
}

.pie {
  align-items: flex-end;
  left: 0%;
  padding-top: 20px;
}

.pie span,
.pie .varios {
  display: block;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.pie .varios a {
  margin-right: 8px;
  float: left;
  margin-top: 10px;
}

/*Fin de las cosas de la cabecera y el pie*/

/*Estilo Nav*/
nav {
  background-color: #2b2b2b;
}
.clear {
  clear: both;
}

ul {
  list-style: none;
  margin: 0%;
  padding: 0%;
  display: block;
  font: 15px "Roboto Slab", sans-serif;
}

ul a {
  border: #abd904 solid 1px;
  border-radius: 6px;
  background-color: #1d1d1d;
  height: 30px;
  width: 150px;
  margin: 5px 10px 5px 10px;
  float: left;
}

ul a {
  text-align: center;
  padding-top: 15px;
}

/*Fin estilos nav*/

.articulillos {
  min-height: 440px;
  max-height: max-content;
  margin: 10px;
  padding: 10px;
  border: #3b3b3b1c solid 3px;
  border-radius: 10px;
  position: relative;
}

.articulillos article {
  display: block;
  top: 70px;
  left: 375px;
  width: 50%;
  height: fit-content;
  position: absolute;
}

.articulillos header h2 {
  font-family: 'Anton', sans-serif;
  color: #486900;
  font-size: 30px;
  display: block;
  top: 10px;
  left: 375px;
  position: absolute;
}

.articulillos img {
  height: 400px;
  width: 350px;
  top: 30px;
  border: none;
  display: block;
  position: absolute;
  border-radius: 10px;
}

/*Fin de las paginas principales*/

/*Estilos de los links basicos*/

a:link {
  color: #486900;
  text-decoration: none;
}

a:visited {
  color: #486900;
  text-decoration: none;
}

a:hover {
  color: #abd904;
}

a:active {
  color: #486900;
}

/*Estilo hover de link dentro de main (Se ve horrendo cuando se aclaran)*/

main a:hover {
  color: #2f4400;
}

/*Fin estilos de los links*/

/*Estilos del log-in/register*/
.login {
  font-family: 'Roboto Condensed', sans-serif;
  background: #151515;
  color: #f2f2f2;
  width: 100%;
  margin: 0%;
  padding: 0%;
}

.login header,
.login main,
.login footer {
  display: block;
  background: #2b2b2b;
  border: #abd90475 2px solid;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
}

.login header {
  text-align: center;
  width: 300px;
  height: 120px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  cursor: default;

}

.login main {
  width: 300px;
  margin-top: 25px;
  padding: 10px;
}

.login footer {
  text-align: center;
  width: 300px;
  height: 60px;
  margin-top: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.login footer span {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.login form input {
  width: 275px;
}

.login form label {
  display: inline;
  margin-left: 10px;
}

.login form h4 {
  display: inline;
  color: #abd904;
}

.login form input,
.login form button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

input:focus {
  outline: solid 1px #abd904;
}

/*Fin estilos del log-in*/

/*Animacion boton */

button {
  width: 150px;
}

.draw-border {
  box-shadow: inset 0 0 0 4px #f2f2f2;
  color: #f2f2f2;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

.draw-border:before,
.draw-border:after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}

.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

.draw-border:hover {
  color: #abd904;
}

.draw-border:hover::before,
.draw-border:hover::after {
  border-color: #abd904;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}

.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  font: 20px "Roboto Slab", sans-serif;
  padding: 8px;
}

.btn:focus {
  outline: 2px dotted #abd904;
}

/*Fin animacion del boton*/

/*Estilos de contacto.html*/
#solicitud {
  width: 100%;
  height: 100%;
  display: block;
  padding: 20px;
}

#solicitud div {
  margin-bottom: 20px;

}

div label {
  width: 10%;
  float: left;
}

#solicitud #asunto,
#solicitud #email {
  width: 40%;
}

textarea:focus {
  outline: none;
}

#solicitud textarea {
  display: block;
  margin-top: 10px;
  border-radius: 5px;
  resize: none;
  width: 75%;
  height: 80px;
  padding: 5px;
}

#solicitud button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

#solicitud label {
  cursor: pointer;
}
#solicitud button{
  margin-top: 50px;
}
/*Boton Solicitud*/
#solicitud .draw-border {
  box-shadow: inset 0 0 0 4px #486900;
  color: #486900;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}

#solicitud .draw-border:before,
#solicitud .draw-border:after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}

#solicitud .draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}

#solicitud .draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}

#solicitud .draw-border:hover {
  color: #2b2b2b;
}

#solicitud .draw-border:hover::before,
#solicitud .draw-border:hover::after {
  border-color: #2b2b2b;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}

#solicitud .draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}

#solicitud .draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}


#solicitud .btn:focus {
  outline: 2px dotted #2b2b2b;
}

/*Fin boton solicitud*/
/*Fin estilos contacto.html*/